* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    min-height: 100vh;
    background: url(../images/novedades.jpg) center / cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main.table {
    width: 89vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    overflow: hidden;
  }
  
  tr.selected {
    background-color: lightblue;
  }
  
  .table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 0.8rem 5rem;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 0.8rem;
    border-radius: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: 0.2s;
  }
  
  .table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 0.1rem 0.4rem #0002;
  }
  
  .table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  .table__header .input-group input {
    width: 100%;
    padding: 0 0.5rem 0 0.3rem;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: 0.8rem auto;
    border-radius: 0.6rem;
    overflow: auto;
    overflow: overlay;
  }
  
  .table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  
  .table__body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
  }
  
  .table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  
  table {
    width: 100%;
  }
  
  td img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
  }
  
  table,
  th,
  td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }
  
  thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 3;
  }
  
  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  
  tbody tr {
    --delay: 0.1s;
    transition: 0.5s ease-in-out var(--delay), background-color 0s;
  }
  
  tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
  }
  
  tbody tr:hover {
    /* background-color: #fff6 !important; */
    background-color: #1f93ba !important;
  }
  
  tbody tr td,
  tbody tr td p,
  tbody tr td img {
    transition: 0.2s ease-in-out;
  }
  
  tbody tr.hide td,
  tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: 0.2s ease-in-out 0.5s;
  }
  
  tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: 0.2s ease-in-out 0.5s;
  }
  
  .status {
    padding: 0.4rem 0;
    border-radius: 2rem;
    text-align: center;
  }
  
  .status.delivered {
    background-color: #86e49d;
    color: #006b21;
  }
  
  .status.cancelled {
    background-color: #d893a3;
    color: #b30021;
  }
  
  .status.pending {
    background-color: #ebc474;
  }
  
  .status.shipped {
    background-color: #6fcaea;
  }
  
  @media (max-width: 1000px) {
    td:not(:first-of-type) {
      min-width: 12.1rem;
    }
  }
  
  thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: 0.2s ease-in-out;
  }
  
  thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
  }
  
  thead th:hover {
    color: #6c00bd;
  }
  
  thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
  }
  
  thead th.asc span.icon-arrow {
    transform: rotate(180deg);
  }
  
  thead th.active,
  tbody td.active {
    color: #6c00bd;
  }
  
  .export__file {
    position: relative;
  }
  
  .export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(../images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }
  
  .export__file .export__file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
  }
  
  .export__file input {
    display: none;
  }
  
  .export__file .export__file-options {
    position: absolute;
    right: 0;
  
    width: 12rem;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
  
    opacity: 0;
    transform: scale(0.8);
    transform-origin: top right;
  
    box-shadow: 0 0.2rem 0.5rem #0004;
  
    transition: 0.2s;
  }
  
  .export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
  }
  
  .export__file .export__file-options label {
    display: block;
    width: 100%;
    padding: 0.6rem 0;
    background-color: #f2f2f2;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    transition: 0.2s ease-in-out;
  }
  
  .export__file .export__file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #86e49d !important;
  }
  
  .export__file .export__file-options label:hover {
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
  }
  
  .export__file .export__file-options img {
    width: 2rem;
    height: auto;
  }
  
  .exit-link {
    position: fixed;
    top: 20px;
    left: 30px;
    z-index: 99999;
    font-size: 35px;
  }
  
  @media only screen and (max-width: 768px) {
    .exit-link {
      font-size: 25px;
      top: 5px;
      left: 5px;
    }
  
    thead th {
      z-index: 0;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .exit-link {
      font-size: 20px;
      top: 9px;
      left: 10px;
    }
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
  }
  
  .popup-content p {
    margin-bottom: 20px;
  }
  
  .popup-content button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .popup-button i {
    position: relative; /* Asegura que el z-index se aplique correctamente */
    z-index: 1; /* Un valor mayor que el z-index del botón */
  }
  
  .popup-content button:hover {
    background-color: #2093bf;
  }
  
  .popup-content button:last-child {
    margin-left: 10px;
  }
  
  .popup-button {
    /* background-color: #4caf50; */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .popup-button:hover {
    background-color: #2093bf;
  }
  /* Estilos para tablet y dispositivos móviles */
  @media only screen and (max-width: 768px) {
    .export__file .export__file-btn {
      align-items: end;
    }
    .table__header h1 {
      display: none; /* Oculta el h1 */
    }
  
    .table__header .input-group {
      width: calc(100% - 50px); /* Resta el espacio del h1 del ancho total */
      height: 40px;
    }
  
    .table__header {
      padding: 0px;
    }
  
    .table__body {
      width: 100%;
    }
    .popup-button i {
      z-index: 1; /* Un valor mayor que el z-index del botón */
    }
  
    thead th {
      position: sticky;
      top: 0;
      left: 0;
      background-color: #d5d1defe;
      cursor: pointer;
      text-transform: capitalize;
      z-index: 4;
    }
  
    thead th span.icon-arrow {
      margin-left: 0rem;
      width: 0rem;
    }
  
    table,
    th,
    td {
      padding: 6px;
      text-align: center;
    }
    /* Ocultar todas las columnas excepto las tres que deseas mostrar */
    table th,
    table td {
      display: none;
    }
    /* Mostrar solo las columnas que deseas en dispositivos móviles */
    table th:nth-child(1),
    table td:nth-child(1),
    table th:nth-child(5),
    table td:nth-child(5),
    table th:nth-child(10),
    table td:nth-child(10) {
      display: table-cell;
    }
  }
  
  /* Estilo del modal */
  .modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija para que cubra toda la pantalla */
    z-index: 2; /* Hacer que el modal esté por encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permitir desplazamiento si el contenido es demasiado largo */
    background-color: rgb(0, 0, 0); /* Fondo oscuro */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro con transparencia */
    z-index: 4;
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: #fefefe;
    margin: 7% auto; /* Centro vertical y horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    word-wrap: break-word; /* Para navegadores antiguos */
    overflow-wrap: break-word; /* Para navegadores modernos */
    max-width: 80%;
    border-radius: 15px;
    width: 400px;
  }
  
  /* Botón de cerrar */
  .close {
    color: red;
    float: right;
    margin-top: -10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover {
    cursor: pointer;
  }
  
  .custom-hr {
    border-top: 1px solid #fefefe;
  }
  