/* FONTS GOOGLE */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* VARIABLES */

.submenu {
  display: none;
  padding-left: 20px;
}
.submenu .enlace {
  display: block;
}
.enlace.active + .submenu {
  display: block;
}

:root {
  --blanco: #e0e0e0;
  --azul-opacidad: #184463;
  --bg-menu: #484f55;
  --bg-body: #c7e1ff;
}

/* GENERALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-image: url(../../images/background-index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

/* LAYOUT */

.menu-dashboard {
  width: 300px;
  min-height: 800px;
  height: auto;
  background: var(--bg-menu);
  padding: 20px;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30%;
}

.top-menu .logo {
  display: flex;
  align-items: center;
}

.top-menu .logo img {
  width: 40%;
}

.top-menu .logo span {
  font-size: 20px;
  margin-left: 1px;
}

.top-menu .toggle {
  display: none;
}

/* ENLACES MENU */

.menu .enlace {
  width: 100%;
  padding: 20px 0 20px 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.menu .enlace:hover {
  background: var(--azul-opacidad);
}

.menu .enlace i {
  margin-right: 20px;
  font-size: 25px;
}

.menu .enlace span {
  opacity: 1;
}

a {
  text-decoration: none;
  color: white;
}
