        /* a{
            margin-bottom: 20%;
        } */
        .icon-back {
            font-size: 40px;
            margin: 30px 0px 0px 50px;
          }
          
          .icon-back:hover {
            cursor: pointer;
          }
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .panel {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            width: 300px;
        }

        .panel h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        .panel button {
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        .panel button:hover {
            background-color: #0056b3;
        }
