body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/background-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Cuadrado centrado */
.cuadrado {
  width: 600px;
  height: 600px;
  background-color: #ffffffd3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

/* Estilos para los enlaces como botones */
.enlace {
  margin: 10px 20px;
}

.enlace a {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2197be;
  color: white;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  gap: 20;
  justify-content: space-between; /* Espacio entre las columnas */
}
.enlace a:hover {
  background-color: #a9cd4d;
  transform: translateY(-2px);
}

.icon-back {
  font-size: 40px;
  position: absolute; /* Para posicionarlo en relación al contenedor */
  top: 20px; /* Ajusta según lo necesites */
  left: 30px; /* Ajusta según lo necesites */
  z-index: 999;
}

.icon-back:hover {
  cursor: pointer;
}
