th,
td {
  padding: 0.4rem !important;
}
body > div {
  border-radius: 10px;
}
th {
  background-color: #1c2256;
  color: white;
}
h1 {
  text-align: center;
  margin: 10px;
}
i {
  font-size: 1.5em;
}

body {
  background-image: url(../../images/background-usuarios.jpg);
}

.container {
  background-color: white;
}

.icon-back {
  font-size: 40px;
  margin: 30px 0px 0px 50px;
}

.icon-back:hover {
  cursor: pointer;
}

.btn .btn-primary{
  margin-left: 60px;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin: 15px;
  padding-left: 15px;
  width: 15%;
  height: 50px;
  margin: 10px;
}

.fa-folder-plus:before {
  content: "\f65e";
  margin-left: 10px;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.btn .btn-primary {
  margin-left: 20%;
}

.table thead>th >tr {
  text-align: center;
}